//ESTILOS GENERALES DE CARDS

.card {
    background-color: var(--card-bg);
    border-radius: 5px;
    cursor: pointer;
}

.card:hover {
    background-color: var(--card-bg-hover);
}

@mixin gray-title ($font-size: var(--font-size-regular)){
    font-size: $font-size;
    font-weight: var(--font-weight-bold);
    color: var(--text-color2);
}

.header__subtitle,
.username,
label {
    @include gray-title();
}

.overview__card--title{
    @include gray-title($font-size: var(--font-size-small));
}

.overview__title{
    @include gray-title($font-size: var(--font-size-big));
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

.app-username,
.stat,
.overview__card__header,
.overview__stats {
    @include flex-row();
}

.stat {
    align-items: center;
}

.stat {
    font-size: var(--font-size-small);
}

.up > span{
    color: var(--symbol-up-green);
}

.down > span{
  color: var(--symbol-down-red);
}

.stat > span {
    font-weight: var(--font-weight-bold);
}

//ESTILOS CARD--FOLLOWER

.card--follower {
    border-top: solid 5px var(--_top-color);
    margin: 1.5rem 0;
    padding: 1.8rem;
    align-items: center;
    text-align: center;
}

.app-username {
    align-items: center;
}

.card--follower:nth-child(1){
    --_top-color: var(--facebook);
}

.card--follower:nth-child(2){
    border-top: solid 5px transparent;
    background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box
    ,var(--instagram) border-box;
    border-radius: 5px;
//     border-right: solid 1.6px var(--card-bg);
//     border-left: solid 1px var(--card-bg);
//     border-bottom: solid 1px var(--card-bg);
}

.card--follower:nth-child(2):hover {
    background: linear-gradient(var(--card-bg-hover), var(--card-bg-hover)) padding-box
    ,var(--instagram) border-box;
}

.card--follower:nth-child(3){
    --_top-color: var(--twitter);
}

.card--follower:nth-child(4){
    --_top-color: var(--youtube);
}

.follower-stat {
    margin: 1.9rem 0;
}

.followers__number {
    color: var(--text-color1);
    font-size:calc(var(--font-size-big) * 3);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
}

.app-follow-name {
    text-transform: uppercase;
    color: var(--text-color2);
    letter-spacing: 0.35rem;
}

//ESTILOS CARD-OVERVIEW

.overview{

    &__card {
     margin: 0.5rem 0;
     padding: 1.4rem 2rem;

       &__header{
        justify-content: space-between;
        margin-bottom: 1.4rem;
       }
    }

    &__stats{
        justify-content: space-between;
    }

    &__number{
        font-size:calc(var(--font-size-big) * 1.2);
        font-weight: var(--font-weight-bold);
        color: var(--text-color1);
    }
}


@media (min-width: 600px) and (max-width: 900px){

.card--follower,
.overview__card {
    margin: 0;
}

.overview__card + .overview__card {
    margin-top: 1rem;
}

.overview__title {
    margin: 2rem 0;
}

}

@media (min-width: 900px) {

    .followers__number {
        font-size:calc(var(--font-size-big) * 2.5);
    }
}