.toggle {
	--_baseSize: 0.45rem;
    margin: 0.3rem 0;
	
	label {
		cursor: pointer;
	}
	
	input[type="radio"] {
		margin-inline: -2px;
		width: 50%;
		height: 100%;
		opacity: 0;
		position: relative;
		z-index: 1;
		cursor: pointer;
	}
}

.toggle__wrapper {
	font-size: var(--_baseSize);
	display: inline-block;
	vertical-align: middle;
	width: 7em;
	height: 3.5em;
	border-radius: 3.5em; 
	position: relative; 
}

.toggle__switcher {
	display: block;
	position: absolute;
	top: 2.4px;
	left: 3px;
	height: 80%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color:var(--toggle-switch-dark); 
	transition: all 0.1s ease-out;
	z-index: 2;
}

.toggle__background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	border-radius: 3.5em;
	background-image: var(--toggle-bg);
	transition: all 0.1s ease-out;
}

#light:checked ~ .toggle__switcher {
	left: 54%;
	background-color: var(--toggle-switch-light);
}

fieldset {
	border: none;
}