:root {
  //top card color by app
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, hsl(37, 97%, 70%)0%, hsl(329, 70%, 58%)100%);
  --youtube: hsl(348, 97%, 39%);

  //stat symbols
  --symbol-up-green: hsl(163, 72%, 41%);
  --symbol-down-red: hsl(356, 69%, 56%);

  //toggle
  --toggle-bg: linear-gradient(135deg, hsl(210, 78%, 56%)0%, hsl(146, 68%, 55%)100%);
  --toggle-switch-light: hsl(225, 100%, 98%);
  --toggle-switch-dark: hsl(232, 19%, 15%);

  //light theme
  --bg-white: hsl(0, 0%, 100%);
  --bg-lightblue: hsl(225, 100%, 98%);
     //light theme card
  --card-bg-lightgray: hsl(227, 47%, 96%);
  --card-bg-gray: hsl(228, 12%, 90%);
  --card-text-gray: hsl(228, 12%, 44%);
  --card-text-darkblue: hsl(230, 17%, 14%);

  //dark theme
  --bg-darkblue: hsl(230, 17%, 14%);
  --bg-darkblue-top: hsl(232, 19%, 15%);
    //dark theme card
  --card-bg-blue: hsl(228, 28%, 20%);
  --card-bg-bluegray: hsl(228, 28%, 25%);
  --card-text-lightblue: hsl(228, 34%, 66%);
  --card-text-white: hsl(0, 0%, 100%);

}

:root {
  --top-bg: var(--bg-lightblue);
  --main-bg: var(--bg-white);
  --card-bg: var(--card-bg-lightgray);
  --card-bg-hover: var(--card-bg-gray);
  --text-color1: var(--card-text-darkblue);
  --text-color2: var(--card-text-gray);
}

body.dark {
  --top-bg: var(--bg-darkblue-top);
  --main-bg: var(--bg-darkblue);
  --card-bg: var(--card-bg-blue);
  --card-bg-hover: var(--card-bg-bluegray);
  --text-color1: var(--card-text-white);
  --text-color2: var(--card-text-lightblue);
}




