$header-height: 20rem;

header {
    background-color: var(--top-bg);
    height: $header-height;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

body {
    background-color: var(--main-bg);
}

main {
    margin-top: calc($header-height / 1.5);
}

.container{
    width: 85%;
    max-width: 1600px;
    margin-inline: auto;
}

.flex--col{
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
    font-size: 0.1px;
}

.title {
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

hr {
    border: solid 0.2px var(--text-color2);
    opacity: 0.3;
}

.attribution {
    margin: 1rem 0;
    text-align: center;
}

@media (min-width: 600px) and (max-width: 900px){
    .follower-section,
    .overview{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 901px) {
    hr {
        visibility: hidden;
    }

    .follower-section,
    .overview{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}