@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --font-family-main: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size-biggest: 3rem;
    --font-size-big: 2rem;
    --font-size-regular: 1.2rem;
    --font-size-small: 1rem;
    --font-size-smallest: 0.7rem;
}

body{
    font-family: var(--font-family-main);
}

.attribution {
    color: var(--text-color2);
    a {
        color: var(--text-color2);
        font-weight: var(--font-weight-bold);
    }
}