@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --font-family-main: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

@mixin gray-title ($font-size: 1rem){
    font-size: $font-size;
    font-weight: var(--font-weight-bold);
    color: var(--card-text-gray);
}

body{
    font-family: var(--font-family-main);
}

.header__subtitle,
.username,
.overview__card--title {
    @include gray-title();
}

.overview__title{
    @include gray-title($font-size: 1.5rem);
}

.followers__number {
    color: var(--card-text-darkblue);
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -3px;
}

.app-follow-name {
    text-transform: uppercase;
    color: var(--card-text-gray);
    letter-spacing: 0.25rem;
}

.up > span{
    color: var(--symbol-up-green);
}

.down > span{
  color: var(--symbol-down-red);
}

.stat > span {
    font-weight: var(--font-weight-bold);
}